.choose {
  margin-top: 200px;
}
.choose-content h2 {
  color: var(--color-white);
}

.choose-us-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 80px;
}
.shuc-title {
  align-items: center;
  margin-bottom: 70px;
}
.shuc-title img {
  margin-right: 15px;
}
